*{
    margin:0 auto;
}

body{
    background-image: url(https://i.imgur.com/cAcVz6s.jpg);
}

h1{
    color: black;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: white;
    height: 60px;
}

aside{
    display:flex;
    flex-direction: column;
    position: absolute;
}

section{
    display:flex;
}

.stats{
    font-size: 30px;
}

.buttons{
    position: absolute;
    left:600px;
    padding:20px;
}

#grass{
    background-color: green;
    width:1500px;
    height: 100px;
}

#house{
    width:600px;
    height:600px;
    position: relative;
    left: 100px;
    top: 112px;
}

.sprite{
    width:150px;
    height:200px;
    position: absolute;
    top:500px;
    right: 200px;
    animation: 3s infinite alternate move;
}

@keyframes move{
    from {left:200px}
    to {left: 400px}
}

#light-switch{
    background-color: white;
    color:black;
    border-radius:1em;
    padding:10px;
}

#dark-switch{
    background-color: black;
    color:white;
    border-radius:1em;
    padding:10px;
}

#feed-button{
    margin-right:2.5px;
    padding:10px;
    border-radius:1em;
}

#sleep-button{
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding:10px;
    border-radius:1em;
}

#play-button{
    margin-left:2.5px;
    padding: 10px;
    border-radius:1em;
}